apiVersion: apps/v1
kind: Deployment
metadata:
  name: rethinkdb-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: rethinkdb-operator
  template:
    metadata:
      labels:
        name: rethinkdb-operator
    spec:
      containers:
        - name: rethinkdb-operator
          image: jmckind/rethinkdb-operator:0.0.2
          command:
          - rethinkdb-operator
          imagePullPolicy: Always
          tty: true
